.margen {
  margin-top: -130px; margin-bottom: 30px;
}
.h5 {
  margin-top: -20px;
}
.color-nav {
  background: linear-gradient(45deg, #0e1940, #2a6fc9, #2ac0ff);
}
.section_1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section_1 .navbar {
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.section_1 .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 15.5px;
  text-transform: capitalize;
}

 .navbar .collapse .navbar-nav .nav-item .btn_cotizar {
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 5px 20px;
  text-transform: uppercase;
}

.section_1 .home-carousel .item {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.section_1 .actions_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  position: absolute;
  bottom: 40px;
  right: 10%;
}

.section_1 .actions_btn a {
  color: #ffffff;
}

.section_1 .slider_home {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -70px;
}

.section_1 .video_bg {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.section_1 .overlay_1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: #ee0979;
  /*background: linear-gradient(45deg, #13274f, #11a1f2, #6dbab0);*/
  /* background: linear-gradient(45deg, #0e1940, #6dbab0, #2ac0ff);*/
  /*background: linear-gradient(45deg, #13274f, #0e1940, #11a1f2);*/
  /*background: linear-gradient(45deg, #0e1940, #11a1f2, #2ac0ff);*/
  background: linear-gradient(45deg, #0e1940, #2a6fc9, #2ac0ff);
  opacity: .85;
}

.nav_fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 100px;
  height: 100px;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.logo_fixed {
  width: 70px;
  height: 70px;
}

.section_2 {
  width: 100%;
  height: 900px;
  position: relative;
  background: #fff;
}

.section_2 .overf {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0%;
}

.section_2 .overf .bg_lin2 { 
  display: none;
 }

.section_2 .overf .bg_lin2 {
  width: 96%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  /*background-image: url("../images/bg/linea fondo pag2.svg");*/
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section_2 .overlay_2 {
  width: 95%;
  height: 80%;
  left: 2.5%;
  position: absolute;
  background: rgba(27, 161, 226, 0.15);
}

.section_2 .overlay_2 h5 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.section_2 .overlay_2 .workcarousel {
  text-align: center;
  width: 100%;
}

.section_2 .overlay_2 .workcarousel .card_1 {
  padding-top: 8rem;
  background: #ee0979;
  background: linear-gradient(60deg, #0e1940, #11a1f2);
  margin-top: 0px;
  z-index: 1;
}

.section_2 .overlay_2 .workcarousel .card_2 {
  padding-top: 8rem;
  background: #000046;
  background: linear-gradient(60deg, #0e1940, #00EABF);
  margin-top: 35px;
  z-index: 2;
}

.section_2 .overlay_2 .workcarousel .card_3 {
  background: #ad5389;
  background: linear-gradient(60deg, #11a1f2, #007bff);
  margin-top: 70px;
  z-index: 3;
}

.section_2 .overlay_2 .workcarousel .item {
  border-radius: 15px;
  color: #ffffff;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  padding: 0 20px 20px 20px;
  height: 32rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 4;
}

.section_2 .overlay_2 .workcarousel .item a {
  color: #0e1940;
  border-radius: 25px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  z-index: 5;
}

.section_2 .overlay_2 .workcarousel .item a:hover {
  text-decoration: none;
  border-radius: 0;
  background: #0e1940;
  color: #ffffff;
}

.section_2 .overlay_2 .workcarousel .item:hover {
  -webkit-box-shadow: 2px 3px 10px solid rgba(0, 0, 0, 0.55);
          box-shadow: 2px 3px 10px solid rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section_2 .overlay_2 .workcarousel__r {
  text-align: center;
  width: 100%;
}

.section_2 .overlay_2 .workcarousel__r .card_1 {
  background: #ee0979;
  background: linear-gradient(60deg, #0e1940, #11a1f2);
  margin-top: 0px;
}

.section_2 .overlay_2 .workcarousel__r .card_2 {
  background: #000046;
  background: linear-gradient(60deg, #0e1940, #00EABF);
  margin-top: 35px;
  z-index: 2;
}

.section_2 .overlay_2 .workcarousel__r .card_3 {
  background: #ad5389;
  background: linear-gradient(60deg, #11a1f2, #007bff);
  margin-top: 70px;
  z-index: 3;
}

.section_2 .overlay_2 .workcarousel__r .item {
  border-radius: 15px;
  color: #ffffff;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  padding: 0 20px 20px 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.section_2 .overlay_2 .workcarousel__r .item a {
  color: #5C00CD;
  border-radius: 25px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.section_2 .overlay_2 .workcarousel__r .item a:hover {
  text-decoration: none;
  border-radius: 0;
  background: #5C00CD;
  color: #ffffff;
}

.section_2 .overlay_2 .workcarousel__r .item:hover {
  -webkit-box-shadow: 2px 3px 10px solid rgba(0, 0, 0, 0.55);
          box-shadow: 2px 3px 10px solid rgba(0, 0, 0, 0.55);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.pt-5 { 
  margin-top: 10px; 
  text-shadow: 0 0 3px lightgray, 0 0 5px #0000FF;
}

.section_3 {
  padding-top: 9%;
  width: 100%;
  position: relative;
  background: linear-gradient(45deg, #0e1940, #2a6fc9, #2ac0ff);
  overflow: hidden;
  padding-buttom: 7rem;
}

.section_3 .bg_lin2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 10;
  background-image: url("../images/bg/paginaexpertos -03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}

.section_3 .overlay_3 {
  width: 95%;
  left: 2.5%;
  position: relative;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.section_3 .overlay_3 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20%;
}

.section_3 .overlay_3 .a_1 {
  background: rgba(252, 74, 26, 0.65);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.section_3 .overlay_3 .a_1:hover {
  background: #fc4a1a;
}

.section_3 .overlay_3 .a_2 {
  background: rgba(75, 19, 79, 0.65);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.section_3 .overlay_3 .a_2:hover {
  background: #4b134f;
}

.section_3 .overlay_3 .a_3 {
  background: rgba(0, 180, 219, 0.65);
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.section_3 .overlay_3 .a_3:hover {
  background: #00b4db;
}

.section_3 .overlay_3 h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  font-size: 2rem;
}

.overlay_pe {
  width: 93%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 3.5%;
  -webkit-transform: scale(0);
          transform: scale(0);
  cursor: pointer;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.overlay_pe h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.pq_1 {
  background: rgba(230, 115, 0, 0.65);
}

.pq_2 {
  background: rgba(75, 19, 79, 0.65);
}

.pq_3 {
  background: rgba(0, 180, 219, 0.65);
}

.section_4 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #0e1940, #2a6fc9, #2ac0ff);
  color: #ffffff;
}

.section_4 .bg_lin2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 10;
  background-image: url("../images/bg/paginaexpertos-04.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}

.section_4 .overlay_4 {
  width: 95%;
  height: 92.5%;
  top: 2.5%;
  left: 2.5%;
  position: relative;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.section_4 .overlay_4 h1,
.section_4 .overlay_4 h4,
.section_4 .overlay_4 h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.section_4 .overlay_4 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.section_4 .overlay_4 .borde_degrad {
  display: inline-block;
  padding: 5px 10px;
  border: 4px solid green;
  border-image-source: linear-gradient(to right, #2a6fc9, #ffd480, #fff);
  border-image-slice: 20;
}

.section_4 .overlay_4 .img_tra_c .img_tra {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  width: 120px;
  height: 120px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_4 .overlay_4 .img_tra_c .img_tra:hover {
  -webkit-transform: translate(0, -25px);
          transform: translate(0, -25px);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.section_4 .line_white {
  top: 95%;
  width: 52%;
  height: 4px;
  background: #ffffff;
  position: absolute;
  left: 24%;
}

.section_4 .slide_line {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-top: -27.5px;
  z-index: 3;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  margin-left: 0px;
}

.imageFixed {
  -webkit-transform: translate(0, -25px);
          transform: translate(0, -25px);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.section_5 {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
  background: #e9e9e9;
}

.section_5 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 2rem;
}

.section_5 h1 strong {
  font-weight: 700;
}

.section_5 .card_item_p {
  text-decoration: none;
}

.section_5 .card_item_p .card .card-body .card-title {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.section_5 .card_item_p .card .card-body .card-text {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: small;
}

.section_5 .overlay_p {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1565c0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_5 .overlay_p a {
  color: #1565c0;
  font-size: 3rem;
  background: #ffffff;
  border-radius: 50%;
  padding: 5px 15px;
  -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.35);
}

.section_6 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../images/imagen-pag6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_6 .overlay_6 {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: #ee0979;
  background: linear-gradient(45deg, #0e1940, #2a6fc9, #2ac0ff);
  opacity: .75;
}

.section_6 h1 {
  color: #ffffff;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.section_6 h1 strong {
  font-weight: 700;
}

.section_6 p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 2rem;
}

.section_6 .separator_s {
  width: 20%;
  height: 2px;
  background: #ffffff;
}

.video_tab {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: right;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video_tab img {
  position: absolute;
  right: 2%;
  bottom: -3.5%;
  width: 40%;
  height: 57%;
}

.video_tab video {
  width: 27%;
  height: 38%;
  position: absolute;
  right: 9.5%;
  bottom: 6.5%;
}

.section_7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("../images/553188-PK37HL-373 (2).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_7 .overlay_7 {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.55);
}

.section_7 .overlay_7 h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.section_7 .overlay_7 h5 {
  color: #00e5ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.section_7 .overlay_7 .separator {
  width: 20%;
  height: 4px;
  background: #ee0979;
  background: linear-gradient(45deg, #2AC0FF, #EC00FF, #F97900);
}

.section_7 .overlay_7 p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.section_7 .overlay_7 a .cls-1 {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.section_7 .overlay_7 a:hover .cls-1 {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.section_7 .overlay_7 a:focus .cls-1 {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#Capa_1 {
  width: 75%;
}

.nasOlw_c {
  width: 100%;
  position: absolute;
  bottom: 24%;
}

.nasOlw_c button {
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  width: 30px;
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  z-index: 90;
}

.nasOlw_c button:focus {
  outline: none;
}

.nasOlw_c button img {
  width: 100%;
}

.nasOlw_c .owl_t_n {
  left: 6%;
}

.nasOlw_c .owl_t_p {
  right: 6%;
}

.section_8 {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url("../images/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 3rem;

}

.section_8 .overlay_8 {
  text-align: center;
}

.section_8 .overlay_8 h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 3rem;
}

.section_8 .overlay_8 h1 strong {
  font-weight: 700;
}

.section_8 .overlay_8 .line_redes {
  margin: auto;
  width: 10%;
  height: 4px;
  background: #2AC0FF;
  background: -webkit-gradient(linear, left top, right top, from(#0e1940), color-stop(#EC00FF), to(#F97900));
  background: linear-gradient(to right, #0e1940, #2a6fc9, #ffd480);
  margin-bottom: 3rem;
}

.section_8 .overlay_8 a {
  background: #ffffff;
  padding: 10px 20px;
  color: #1565c0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_8 .overlay_8 a:hover {
  background: #1565c0;
  border-radius: 0;
  color: #ffffff;
}

.section_8 .overlay_8 .r_icons {
  margin-top: 3rem;
  text-align: center;
}

.section_8 .overlay_8 .r_icons a {
  color: #ffffff;
  background: none;
  font-size: 1.4rem;
}

.section_8 .overlay_8 .r_icons .i_fb {
  padding: 5px 5px 5px 12px;
}

.section_8 .overlay_8 .r_icons .i_fb:hover {
  background: #0d47a1;
}

.section_8 .overlay_8 .r_icons .i_tw {
  padding: 5px 5px 5px 12px;
}

.section_8 .overlay_8 .r_icons .i_tw:hover {
  background: #03a9f4;
}

.section_8 .overlay_8 .r_icons .i_ins {
  padding: 5px 8px 5px 8px;
}

.section_8 .overlay_8 .r_icons .i_ins:hover {
  background: #2ac0ff;
}




.section8 {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 230px;
  min-width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url("../images/IMG-20190502-WA0021.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 3rem;

}

.section8 .overlay_8 {
  text-align: center;
}

.section8 .overlay_8 h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 5rem !important;
}

.section8 .overlay_8 h1 strong {
  font-weight: 700;
}

.section8 .overlay_8 .line_redes {
  margin: auto;
  width: 10%;
  height: 4px;
  background: #2AC0FF;
  background: -webkit-gradient(linear, left top, right top, from(#0e1940), color-stop(#EC00FF), to(#F97900));
  background: linear-gradient(to right, #0e1940, #2a6fc9, #ffd480);
  margin-bottom: 3rem;
}

.section8 .overlay_8 a {
  background: #ffffff;
  padding: 10px 20px;
  color: #1565c0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section8 .overlay_8 a:hover {
  background: #1565c0;
  border-radius: 0;
  color: #ffffff;
}

.section8 .overlay_8 .r_icons {
  margin-top: 3rem;
  text-align: center;
}

.section8 .overlay_8 .r_icons a {
  color: #ffffff;
  background: none;
  font-size: 1.4rem;
}

.section8 .overlay_8 .r_icons .i_fb {
  padding: 5px 5px 5px 12px;
}

.section8 .overlay_8 .r_icons .i_fb:hover {
  background: #0d47a1;
}

.section8 .overlay_8 .r_icons .i_tw {
  padding: 5px 5px 5px 12px;
}

.section8 .overlay_8 .r_icons .i_tw:hover {
  background: #03a9f4;
}

.section8 .overlay_8 .r_icons .i_ins {
  padding: 5px 8px 5px 8px;
}

.section8 .overlay_8 .r_icons .i_ins:hover {
  background: #2ac0ff;
}

.section_9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #e6f2ff;
}

.section_9 .overlay_9 {
  text-align: center;
}

.section_9 .overlay_9 h1 {
  color: #0e1940;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 3rem;
  text-shadow: 1px 1px 3px rgba(128, 204, 255, 0.85);
}

.section_9 .overlay_9 h1 strong {
  font-weight: 700;
}

.section_9 .overlay_9 h6 {
  color: black !important;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: .8rem;
  letter-spacing: 5px;
}

.section_9 .overlay_9 h6 strong {
  font-weight: 700;
}

.section_9 .overlay_9 .container {
  margin-top: 3rem;
  padding: 1.5rem;
}

.section_9 .overlay_9 .container form {
  text-align: left;
}

.section_9 .overlay_9 .container form .form-group label {
  
  -webkit-background-clip: text;
  color: #13274f;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.section_9 .overlay_9 .container form .form-group label i {
  color: #ffffff;
  color: linear-gradient(to right, #2AC0FF, #EC00FF, #F97900);
}

.section_9 .overlay_9 .container form .form-group input.form-control,
.section_9 .overlay_9 .container form .form-group textarea.form-control {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: black !important;
  border: none;
  border: 1px solid lightgray;
  max-height: 300px;
}

.section_9 .overlay_9 .container form .form-group input.form-control:focus,
.section_9 .overlay_9 .container form .form-group textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-image-source: linear-gradient(to right, #2a6fc9, #2ac0ff, #11a1f2);
  border-image-slice: 1;
}

.section_9 .overlay_9 .container form #send_contact {
  background: #2AC0FF;
  border: none;
  color: #ffffff;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 22px;
  font-size: 1.1rem;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_9 .overlay_9 .container form #send_contact:hover {
  color: #ffff;
  background: #0e1940;
  border-radius: 0;
}

.section_9 .overlay_9 .container form #send_contact:focus {
  outline: none;
}

.section_9 .overlay_9 .container form #send_contact span {
  margin-right: 10px;
}

.section_9 .footer {
  width: 100%;
  background: #23074d;
  background: -webkit-gradient(linear, left top, right top, from(#0e1940), to(#23074d));
  background: linear-gradient(to right, #2a6fc9, #2ac0ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.section_9 .footer a {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.bg_lin1 {
  position: relative;
  overflow: hidden;
  width: 120%;
  height: 180px;
  margin-left: -5%;
  margin-bottom: -2%;
  padding: 0;
  margin-top: 2%;
}

.bg_lin1 figure {
  position: absolute;
  bottom: 0;
  left: 0px;
}

.tilte_1 {
  color: #ffffff;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */

/* --------------Start Bottom Up Style-------------- */
.cm-up {
  display: none;
  position: fixed;
  background: #001e34;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  bottom: 40px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.cm-up .cm-text-up {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  float: left;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  transition: 0.4s;
  width: 0px;
}

.cm-up .cm-icon {
  background: #001e34;
  color: #00b2ff;
  font-size: 20px;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s
}

.cm-up:hover > .cm-text-up {
  width: 150px;
  padding: 0 6px;
}
.cm-up:hover > .cm-icon {
  background: #fff;
}
/* --------------End Bottom Up Style-------------- */