/* HOME */
@media only screen and (max-width: 1024px) {
    .section_3 {
        padding-top: 20%;
    }
    .tilte_1 {
        padding-top: 12%
    }
    .owl_wrapper {
        width: 100%;
        padding-left: 16px;
    }
    .owl_wrapper .owl-item {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
        transition: all .2s;
        -webkit-transform: all .2s;
        z-index: 1;
    }

    .owl_wrapper .owl-item:nth-child(1) {
        z-index: 3;
        margin-right: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(2) {
        z-index: 3;
        margin-right: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(3) {
        z-index: 3;
    }

    .owl_wrapper .owl-item:nth-child(4) {
        z-index: 2;
        margin-left: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(5) {
        z-index: 1;
        margin-left: 0px;
        margin-top: 0;
    }
    .section_2 .overlay_2 .workcarousel .card_1,
    .section_2 .overlay_2 .workcarousel .card_2,
    .section_2 .overlay_2 .workcarousel .card_3 {
        margin-top: 0;
    }

}

@media only screen and (max-width: 992px) {
    .section_1 .slider_home {
        width: 100%;
        margin: 0;
    }

    .section_6 {
        height: 900px;
    }
} 

@media only screen and (max-width: 767px) {
    .video_tab {
        display: none;
    }

    .particles-js {
        z-index: 0;
    }

    .section_2 {
        height: auto;
    }

    .section_2 .overlay_2 .workcarousel .card_1 {

  z-index: 2;
}

.section_2 .overlay_2 .workcarousel .card_2 {

  z-index: 3;
}

.section_2 .overlay_2 .workcarousel .card_3 {

  z-index: 4;
}

    .section_2 .overlay_2 {
        position: relative;
    }

    .section_2 .overlay_2 h5 {
        color: #000;
    }

    .section_9 .footer {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .img_tra_c,
    .line_white,
    .slide_line
     {
        display: none;
    }
    .section_4 {
        height: auto;
    }
    .overlay_4 {
        text-align: center;
        padding: 20px;
    }
    .video_tab {
        left: -20%;
    }
    .video_tab img {
        width: 60%;
        height: 50%;
        bottom: 4.5%;
    }
    .video_tab video {
        right: 13%;
        width: 43%;
        height: 50%;
    }
    .con_select_team {
        display: none
    }
    .person-carousel {
        text-align: center;
    }
    .separator {
        margin: auto;
    }
    .tilte_1 {
        padding-top: 10%
    }
    .nasOlw_c {
        bottom: 23%;
    }
    .nasOlw_c .owl_t_n {
        left: 3%;
    }
        .nasOlw_c .owl_t_p {
            right: 3%;
        }
}

@media only screen and (max-width: 690px) {
    .tilte_1 {
        padding-top: 10%;
    }
    .overlay_2 {
        padding: 0 5%;
    }
    .particles-js {
        z-index: 0;
        height: 100vh;
        width: 100%;
    }

    .section_2 {
        height: auto;
    }

    .section_2 .overlay_2 .workcarousel .card_1 {

  z-index: 2;
}

.section_2 .overlay_2 .workcarousel .card_2 {

  z-index: 3;
}

.section_2 .overlay_2 .workcarousel .card_3 {

  z-index: 4;
}

.section_6 {
    height: 700px;
}


@keyframes toas_c {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.msg_c {
    position: absolute;
    background: #232427;
    bottom: 34%;
    right: -50%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    z-index: 99;
    font-weight: 200;
    padding-top: 10px;
    text-transform: uppercase;
    transition: all ease-in-out 1s;
}
.msg_c p {
    padding: 0 20px;
}

.loading_toas {
    width: 0%;
    height: 4px;
    margin-top: 6px;
    background: #ee0979; 
    background: -webkit-linear-gradient(45deg, #2AC0FF, #EC00FF, #F97900);
    background: linear-gradient(45deg, #2AC0FF, #EC00FF, #F97900);
    transition: all ease-in-out .3s;
}

.section_6 {
        height: 700px;
    }

}

@media only screen and (max-width: 500px) {
    .section_5 h1 {
        font-size: 32px;
    }
    .section_6 {
        height: 900px;
    }
    .overlay_9 h1 {
        font-size: 33px;
    }
    .overlay_8 h1 {
        font-size: 33px;
    }
    .section_6 h1 {
        font-size: 32px;
    }
    .cm-up {
        bottom: 6px;
    }
    .j a{
        font-size: 3px;
    }
}

@media only screen and (max-width: 400px) {
    .section_3 {
        margin-top: 35px;
    }
    .section_3 .margen h1 {
        margin-top: 80px;
    }
    .section_2 h1 {
        font-size: 35px;
    }
    .overlay_4 h1 {
        font-size: 35px;
    }
    .section_3 .overlay_3 h5 {
         font-size: 20px;
    }
    .section_6 .wow h1 {
        font-size: 35px;
    }
    .section_6 {
        height: 900px;
    }
    .section_5 h1 {
        font-size: 32px;
    }
    .overlay_8 h1 {
        font-size: 30px;
    }
    .overlay_9 h1 {
        font-size: 30px;
    }
    .cm-up {
        bottom: 6px;
    }
    .j a{
        margin-left: -25px;
        font-size: 3px;
    }
}

@media only screen and (max-width: 350px) {
    .overlay_4 h1 {
        font-size: 27px;
    }
    .section_3 .margen h1 {
         font-size: 27px;
    }
    .section_3 .overlay_3 h5 {
         font-size: 18px;
    }
    .section_6 {
        height: 1100px;
    }
    .cm-up {
        bottom: 5px;
    }
    .j a{
        font-size: 3px;
    }
}

@media only screen and (max-width: 320px) {
    .section_9 .footer a {
  color: #ffffff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
}